SEPOLIA_PRIVATE_KEY_1= # !!!! Must be without 0x prefix !!!!
SEPOLIA_PRIVATE_KEY_2= # !!!! Must be without 0x prefix !!!!
SEPOLIA_PRIVATE_KEY_3= # !!!! Must be without 0x prefix !!!!
FUEL_PRIVATE_KEY=0xde97d8624a438121b86a1956544bd72ed68cd69f2c99555b08b1e8c51ffd511c # With 0x prefix